.root {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: $PrimaryYellow;
}

.root__logo {
	width: 249px;
	height: 223px;
	font-size: 0;
	background-image: url("../../assets/images/pages/root/logo.png");
	background-size: 249px 224px;
}

.root__countries-menu {
	display: flex;
	flex-direction: column;
	list-style: none;
	font-size: 14px;
	padding-left: 74px;

	li:not(:last-child) {
		margin-bottom: 2px;
	}

	li {
		position: relative;
		cursor: pointer;
		padding: 5px 7px 5px 45px;
		border-radius: 5px;
		color: rgb(0, 0, 238);
		background-color: rgba(255, 255, 255, 0.5);
		width: max-content;
	}

	li > a {
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
		color: $BlueSecondaryColor;
		&:visited {
			color: $BlueSecondaryColor;
		}
	}

	li > a::before {
		display: inline-block;
		width: 28px;
		height: 20px;
		left: 8px;
		position: absolute;
		content: "";
		background-image: url("../../assets/images/pages/root/flags.png");
	}
}

@media only screen and (max-width: 700px) {
	.root {
		flex-direction: column;
		padding: 10px;
	}

	.root__logo {
		height: 117px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto 100%;
	}

	.root__countries-menu {
		padding: 0;
		margin-top: 10px;
		height: 100%;
		overflow: auto;
		width: 100%;
		background-color: #fff;
		border-radius: 3px;

		li {
			width: 100%;
			margin: 0;
			padding: 15px 0px 15px 45px;
			position: relative;
			border-radius: 0;
			font-size: 18px;
		}

		li:not(:last-child) {
			border-bottom: 1px dotted rgb(175, 172, 172);
		}
	}

	.root__countries-menu > li > a::after {
		display: inline-block;
		width: 10px;
		height: 16px;
		position: absolute;
		content: "";
		right: 10px;
		background: url("../../assets/images/arrow.png");
	}
}

.root__countries-menu {
	#BO > a::before {
		background-position: 0 -280px;
	}

	#BR > a::before {
		background-position: 0 -20px;
	}

	#CL > a::before {
		background-position: 0 -80px;
	}

	#CO > a::before {
		background-position: 0 -40px;
	}

	#CR > a::before {
		background-position: 0 -60px;
	}

	#DO > a::before {
		background-position: 0 -100px;
	}

	#EC > a::before {
		background-position: 0 -120px;
	}

	#GL > a::before {
		background-position: 0 -260px;
	}

	#HO > a::before {
		background-position: 0 -340px;
	}

	#MX > a::before {
		background-position: 0 -140px;
	}

	#NI > a::before {
		background-position: 0 -360px;
	}

	#PA > a::before {
		background-position: 0 -160px;
	}

	#PY > a::before {
		background-position: 0 -300px;
	}

	#PE > a::before {
		background-position: 0 -180px;
	}

	#SV > a::before {
		background-position: 0 -380px;
	}

	#UY > a::before {
		background-position: 0 -220px;
	}

	#VE > a::before {
		background-position: 0 -240px;
	}
}
