$SkyblueColor: #3483fa;
$GreyColor: rgb(75, 75, 75);
$BlueColor: #1259c3;
$BlueSecondaryColor: #0000ee;
$PrimaryYellow: #ffe600;
@font-face {
	font-family: "Proxima Nova";
	src: url("../../../src/assets/fonts/proximanova-light.woff2");
	font-weight: 300;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("../../../src/assets/fonts/proximanova-regular.woff2");
	font-weight: 400;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("../../../src/assets/fonts/proximanova-semibold.woff2");
	font-weight: 600;
}
